.feature-card{
    display: flex;
    align-items: flex-end;
    background-color: #fdfdfd;
    padding: 30 px;
    text-align: left;
    gap: 30px;
    margin-left: 100px;

}
.feature-icon{
    width: 200px;
    height: 200px;
    margin-right: 100px;
    flex-shrink: 0;
    margin-top: 10px;
}
.feature-icon img{
    width: 250px;
    height: 250px;
    margin-top: 0px;
    gap: 50px;
    object-fit: contain;
}
.feature-info{
    flex-grow: 1;
    margin-top: 30px;
}
.feature-info h2{
    font-size: 28px;
    color: #333;

}
.feature-info p{
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    color: #555;
}